.dwp-key-details-bar-container {
    /*position: -webkit-sticky;
    position: sticky;*/
    top: 0;
}

.dwp-key-details-bar {
    color: #fff;
    background-color: #1d70b8;
    font-family: Helvetica, Arial, sans-serif;
}
.dwp-key-details-bar__key-details {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 30px;
    border: 0;
}

.dwp-key-details-bar__status {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.dwp-key-details-bar-container {
    /*position: -webkit-sticky;
    position: sticky;*/
    top: 0;
}

.dwp-key-details-bar__key-details {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 30px;
    border: 0;
}
@media (max-width: 40.0525em) {
    .dwp-key-details-bar__key-details {
        padding: 20px 15px;
    }
}
.dwp-key-details-bar__key-details dt {
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
}
@media (max-width: 40.0525em) {
    .dwp-key-details-bar__key-details dt {
        margin: 0;
        float: none;
    }
}
.dwp-key-details-bar__key-details dd {
    margin: 0 20px 0 0;
    padding: 0;
    float: left;
}
@media (max-width: 40.0525em) {
    .dwp-key-details-bar__key-details dd {
        margin: 0 0 20px;
        float: none;
    }
}
@media (max-width: 40.0525em) {
    .dwp-key-details-bar__key-details dd:last-of-type {
        margin-bottom: 20px;
    }
}
.dwp-key-details-bar__key-details .dwp-key-details-bar__primary {
    font-size: 2.25rem;
    font-weight: 700;
}
@media (max-width: 40.0525em) {
    .dwp-key-details-bar__key-details .dwp-key-details-bar__primary {
        margin: 0 10px 0 0;
        float: left;
        font-size: 1.5rem;
    }
}
.dwp-key-details-bar__key-details .dwp-key-details-bar__secondary {
    margin-top: 9px;
    font-size: 1.5rem;
}
@media (max-width: 40.0525em) {
    .dwp-key-details-bar__key-details .dwp-key-details-bar__secondary {
        margin: 5px 0 0;
        float: left;
        font-size: 1.188rem;
    }
}
.dwp-key-details-bar__key-details .dwp-key-details-bar__status {
    margin: 5px 0 0;
    padding: 5px 0 0;
    float: right;
}
.dwp-key-details-bar__key-details .dwp-key-details-bar__status--dwp-default {
    color: #1d70b8;
    background-color: #fff;
}
@media (max-width: 40.0525em) {
    .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
        padding: 0;
        float: left;
        clear: both;
    }
}
.dwp-key-details-bar__top-block,
.dwp-key-details-bar__bottom-block {
    margin: 0;
    font-size: 1.188rem;
}
@media (max-width: 40.0525em) {
    .dwp-key-details-bar__top-block,
    .dwp-key-details-bar__bottom-block {
        font-size: 1rem;
    }
}


/*.dwp-key-details-bar__top-block::after,*/

.dwp-key-details-bar__bottom-block::after {
    content: " ";
    display: block;
    clear: both;
}

.dwp-key-details-bar__bottom-block {
    content: " ";
    margin-top: 6px;
    padding-top: 10px;
    border-top: 1px solid hsla(0, 0%, 100%, 0.3);
}
@media (max-width: 40.0525em) {
    .dwp-key-details-bar__bottom-block {
        border: 0;
    }
}

.status-indicator {
    overflow-wrap: normal;
    background-color: white;
    color: #1d70b8;
    margin: 0;
}

.dwp-key-details-bar__top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

dl {
    margin-block-start: 1em;
    margin-block-end: 1em;
    unicode-bidi: isolate;
}