{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

    {{ govukServiceNavigation({
      serviceName: "Mr Joe Pineapples PCB",
      serviceUrl: "#"
    }) }}
    {{ govukServiceNavigation({
      serviceName: "SE 11 00 20 A | Date of Birth: 7 March 1972",
      serviceUrl: "#"
    }) }}

    {{ govukServiceNavigation({
      navigation: [
        {
          href: "#",
          text: "Account Summary",
          active: true
        },
        {
          href: "#",
          text: "Personal Details"
        },
        {
          href: "#",
          text: "Notes"
        },
        {
          href: "#",
          text: "Notifications & tasks"
        },
        {
          href: "#",
          text: "Payment summary"
        },
        {
          href: "#",
          text: "Payable rates"
        },
        {
          href: "#",
          text: "Adjustments"
        },
        {
          href: "#",
          text: "Direct payment details"
        },
        {
          href: "#",
          text: "Adjudication history"
        },
        {
          href: "#",
          text: "Relationship summary"
        },
        {
          href: "#",
          text: "Residence history"
        }
      ]
    }) }}

    <p class="govuk-body govuk-!-margin-bottom-4">
      <h3 class="govuk-heading-m">Account summary</h3>
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Account status history</a>.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-4">
      <h3 class="govuk-heading-m">Old State Pension</h3>
    </p>

    {% from "govuk/components/table/macro.njk" import govukTable %}

    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Benefit type"
          },
          value: {
            text: "Old State Pension"
          }
        },
        {
          key: {
            text: "Claim status"
          },
          value: {
            text: "DORMANT"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of entitlement"
          },
          value: {
            html: "6th April 2023"
          }
        },
        {
          key: {
            text: "Owning office"
          },
          value: {
            html: 'GB'
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        },
        {
          key: {
            text: "Periodicity"
          },
          value: {
            html: 'Quarterly'
          }
        },
        {
          key: {
            text: "Adjustments"
          },
          value: {
            html: 'No'
          }
        },
        {
          key: {
            text: "Account suspense"
          },
          value: {
            html: 'No'
          }
        },
        {
          key: {
            text: "Account last updated"
          },
          value: {
            html: '27 November 2024'
          }
        }
      ]
    }) }}

    <p class="govuk-body govuk-!-margin-bottom-4">
      <h3 class="govuk-heading-m">Payee Details</h3>
    </p>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Payee name"
          },
          value: {
            text: "Mr SDA Case"
          }
        },
        {
          key: {
            text: "Payee type"
          },
          value: {
            text: "Appointee"
          }
        },
        {
          key: {
            text: "Payee address"
          },
          value: {
            html: "33 Dev Only<br>Crosby<br>Liverpool<br>LT23 5TT<br>England"
          }
        }
      ]
    }) }}

  </div>
    

{% endblock %}
