{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  {% include "layouts/account-header.html" %}

  <p class="govuk-body govuk-!-margin-bottom-4">
    <h3 class="govuk-heading-m">Payment summary</h3>
  </p>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Total payments: " ~ totalIssues
      }
    },
    rows: [
      {
        key: {
          text: "Periodicity"
        },
        value: {
          html: "Four Weekly"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "age"
            }
          ]
        }
      },
      {
        key: {
          text: "Payday"
        },
        value: {
          html: "Friday"
        }
      }
    ]
  }) }}

  <div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Payments</h2>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
        <a href='#' class="govuk-link govuk-heading-s">Record a manual payment</a>
  </div>

  {% set tableRows = [] %}

  {% for issue in issues %}

    {% set issueUrl %}
    <a href="/payment-details/{{ issue.issueNumber }}"> {{issue.issueNumber }} </a>
    {% endset %}

  {% set tableRows = (tableRows.push ([
    {html: issueUrl},
    {text: issue.from},
    {text: issue.to},
    {text: issue.amount},
    {text: issue.dateIssued},
    {text: issue.paymentType},
    {text: issue.status}
    ]), tableRows) %}

  {% endfor %}

  {{ govukTable({
      caption: "Payment summary",
      captionClasses: "govuk-visually-hidden",
      firstCellIsHeader: false,
      classes: "govuk-table--responsive",
      head: [
        { text: "Issue number" },
        { text: "From" },
        { text: "To" },
        { text: "Amount" },
        { text: "Date issued" },
        { text: "Payment type" },
        { text: "Status" }
      ],
      rows: tableRows
  }) }}
  
  {% from "govuk/components/pagination/macro.njk" import govukPagination %}

  <!-- Pagination-->
  {% if totalPages > 1 %}

    {%  set paginationItems = [] %}

    {% for page in range(1, totalPages + 1) %}

      {% set paginationItems = (paginationItems.push({
        number: page,
        href: "/payment-summary?page=" + page,
        current: page == currentPage
      }), paginationItems) %}

    {% endfor %}

    {{ govukPagination({
      previous: {
        href: "/payment-summary?page=" + (currentPage - 1)
      } if currentPage > 1,

      next: {
        href: "/payment-summary?page=" + (currentPage + 1)
      } if currentPage < totalPages,

      items: paginationItems
    }) }}

  {% endif %}

{% endblock %}