{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% block content %}

    <div id="key-details-bar" class="dwp-key-details-bar-container sticky-bar">
        <section class="dwp-key-details-bar" aria-label="Key details">
            <div class="dwp-key-details-bar__key-details">
                <dl class="dwp-key-details-bar__top-block">
                    <dt class="govuk-visually-hidden">Name:</dt>
                    <dd class="dwp-key-details-bar__primary"
                        data-qa="wp-account-name">Mr Joe Pineapples PCB</dd>
                    <div class="indicators">
                        <dt class="govuk-visually-hidden">Claim status:</dt>
                        <dd class="dwp-key-details-bar__status-indicator" data-qa="wp-account-status">
                            <strong class="govuk-tag status-indicator">
                                DORMANT
                            </strong>
                        </dd>
                    </div>
                </dl>

                <dl class="dwp-key-details-bar__bottom-block">
                    <dt class="govuk-visually-hidden">National Insurance Number:</dt>
                    <dd data-qa="wp-account-nino">SE 11 00 20 A</dd>
                </dl>
            </div>
        </section>
    </div>

    {% set menuItems = [
      {href: '/account-summary', text: 'Account Summary'},
      {href: '/personal-details', text: 'Personal Details'},
      {href: '/notes', text: 'Notes'},
      {href: '/notifications', text: 'Notifications & tasks'},
      {href: '/payment-summary', text: 'Payment summary'},
      {href: '/payable-rates', text: 'Payable rates'},
      {href: '/adjustments', text: 'Adjustments'},
      {href: '/direct-payment-details', text: 'Direct payment details'},
      {href: '/adjudication-history', text: 'Adjudication history'},
      {href: '/relationship-summary', text: 'Relationship summary'},
      {href: '/residence-history', text: 'Residence history'}
    ] %}

    {% set dynamicArray = [] %}

    {% for item in menuItems %}
      {% set dynamicArray = dynamicArray.concat([{
        href: item.href,
        text: item.text,
        current: (pageContext.currentUrl == item.href)
      }]) %}
    {% endfor %}

    {{ govukServiceNavigation({
      navigation: dynamicArray
    }) }}
  
{% endblock %}
